table{
  width: 100%;
}

#img_typo{
  display: none;
}
#img_page{
  display: none;
}
#img_tab{
  display: none;
}
#img_html{
  display: none;
}
#s_menu{
  visibility: visible;
  display: inline-block;
  width: 10%;
  height: 10%;
}

header{
  visibility: hidden;
  display: none;
}
